#loader {
  width: 100%;
  height: 50vw;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

#root {
  color: red;
  background-color: lightgray;
}

#navigation {
  display: flex;
  margin: 25px;
  justify-content: flex-start;
}

#navigation div {
  margin: 0 25px 0 0;
}

.card {
  color: black;
  width: 80%;
  background-color: white;
  text-align: center;
  margin: 25px;
  height: 600px;
  justify-self: center;
}

.card h2 {
  width: calc(100% - 4px);
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  padding: 25px 0;
  margin: 0;
}

.card img {
  margin: 10px auto;
}

.card p {
  max-width: 60%;
  text-align: justify;
  margin: 10px auto;
}

.episodes-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.show-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.show-card {
  color: black;
  background-color: white;
  box-shadow: 10px 5px 5px gray;
  border-radius: 5px;
  text-align: center;
  margin: 20px 20px 0 20px;
}

.show-card h1 {
  text-align: left;
  margin: 20px 0 0 20px;
}

.show-card h1:hover {
  cursor: pointer;
}

.show-content {
  display: flex;
  padding: 5px;
}

.show-content img {
  padding: 15px;
}

.show-content p {
  padding: 15px;
  text-align: justify;
}

.show-content .show-info {
  min-width: 300px;
  padding: 15px;
  border: 1px solid black;
  margin: 0 15px 15px 5px;
}

.show-info-item {
  display: flex;
}

.show-info-item .info-item-name {
  font-weight: bold;
  margin-right: 5px;
}

#show-input-div,
#show-selector-div,
#episode-selector-div,
#episode-input-div {
  display: flex;
  align-items: center;
}

#show-selector,
#episode-selector,
#episode-input,
#show-input,
#show-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb(225, 224, 224);
  height: 34px;
  padding: 8px 12px;
  font-size: 12px;
  border: 2px solid rgb(31, 30, 30);
  border-radius: 5px;
  margin-left: 15px;
  max-width: 300px;
}

#backToShowListingButton {
  background: rgb(225, 224, 224);
  height: 34px;
  padding: 8px 12px;
  font-size: 12px;
  border: 2px solid rgb(31, 30, 30);
  border-radius: 5px;
}

#count-area {
  color: rgb(83, 82, 82);
  font-size: 13px;
  display: flex;
  align-items: center;
}